<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Projects"
        icon="chevron-back-outline"
      ></ion-back-button>
      <ion-title>Details</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteProjectAlert()" fill="solid" color="danger"
        >Delete Project</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item color="secondary" class="ion-activated">
      <ion-card-header>
        <ion-card-title
          ><ion-text class="text-dark">{{
            project?.title?.toUpperCase()
          }}</ion-text></ion-card-title
        >
      </ion-card-header>
      <ion-card-content slot="end">
        <ion-text class="text-dark">{{ project?.details }}</ion-text>
      </ion-card-content>
    </ion-item>
    <ion-row>
      <ion-item
        *ngFor="let task of project?.tasks"
        routerLink="/tabs/tasks/details/{{ task.id }}"
        class="ion-activated"
      >
        <ion-icon size="small" name="pencil-outline" slot="start"></ion-icon>
        <ion-label>
          <ion-col
            ><ion-row> {{ task?.title }}</ion-row> Deadline: {{ task?.endDate }}
          </ion-col>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="time"></ion-icon>
        <div>Created: {{ project?.createdDate }}</div>
      </ion-col>
      <ion-col center text-center>
        <ion-icon name="alarm-outline"></ion-icon>
        <div>
          <div>Deadline: {{ project?.endDate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <form [formGroup]="myForm" (ngSubmit)="updateProject()" method="post">
    <ion-row
      ><ion-col>
        <ion-item-group>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text><h1>Title</h1></ion-text>
                  <ion-text *ngIf="projectTitle.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-textarea
              type="text"
              formControlName="details"
              rows="2"
              placeholder="Details"
            ></ion-textarea>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text *ngIf="projectEndDate.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-datetime
              type="date"
              formControlName="endDate"
              placeholder="Project Deadline"
              min="{{ todaysDate() }}"
              max="{{ maxDate() }}"
              displayFormat="D / M / YY"
            ></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-select
              formControlName="tasksToRemoveId"
              okText="Remove Tasks From Project"
              cancelText="Cancel"
              #tasksToRemove
              placeholder="Remove Tasks"
              multiple="true"
              class="select-full-width"
            >
              <ion-select-option
                *ngFor="let task of project?.tasks"
                [value]="task?.id"
                >{{ task?.title }} Deadline: {{ task?.endDate }}
              </ion-select-option>
              <ion-label><ion-text>Current Tasks</ion-text></ion-label>
            </ion-select>
            <ion-button
              [disabled]="!myForm.controls['tasksToRemoveId'].value"
              (click)="resetTasksToRemove()"
            >
              clear
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-select
              formControlName="tasksId"
              okText="Add Tasks to Project"
              cancelText="Cancel"
              #tasksSelect
              placeholder="Add Tasks"
              multiple="true"
              class="select-full-width"
            >
              <ion-select-option *ngFor="let task of tasks" [value]="task?.id"
                >{{ task?.title }} Deadline: {{ task?.endDate }}
              </ion-select-option>
              <ion-label><ion-text>Available Tasks</ion-text></ion-label>
            </ion-select>
            <ion-button
              [disabled]="!myForm.controls['tasksId'].value"
              (click)="resetTasks()"
            >
              clear
            </ion-button>
          </ion-item>

          <ion-item
            ><ion-label>Mark As Completed?</ion-label>
            <ion-checkbox
              formControlName="isCompleted"
              class="form-control"
              slot="end"
              checked="{{ this.project?.isCompleted }}"
            ></ion-checkbox
          ></ion-item>
          <ion-button [disabled]="myForm.invalid" type="submit" expand="block"
            >Update Project</ion-button
          >
        </ion-item-group>
      </ion-col></ion-row
    >
  </form>
</ion-content>
