<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab slot="fixed" horizontal="end" vertical="top">
  <ion-fab-button [routerLink]="['add-task']"
    ><ion-icon name="add-outline"></ion-icon
  ></ion-fab-button>
</ion-fab>
<ion-content>
  <task-card [tasks]="tasks"></task-card>
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadDataInfinite($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
