<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Tasks"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTaskAlert()" fill="solid" color="danger"
        >Delete Task</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item color="secondary">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-text class="text-dark">{{ task?.project?.title }} </ion-text>
        </ion-card-subtitle>
        <ion-card-title
          ><ion-text class="text-dark">{{
            task?.title?.toUpperCase()
          }}</ion-text></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-text class="text-dark">{{ task?.details }}</ion-text>
      </ion-card-content>
    </ion-item>
    <ion-row>
      <ion-col center text-center>
        <ion-icon name="alert-outline"></ion-icon>
        <div>{{ task?.outcomes }}</div>
      </ion-col>
      <ion-col>
        <ion-icon name="time"></ion-icon>
        <div>Created: {{ task?.createdDate }}</div>
      </ion-col>
      <ion-col center text-center>
        <ion-icon name="alarm-outline"></ion-icon>
        <div>
          <div>Deadline: {{ formatDate(task?.endDate) }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
  <form [formGroup]="myForm" (ngSubmit)="updateTask()" method="post">
    <ion-row
      ><ion-col>
        <ion-item-group>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text><h1>Title</h1></ion-text>
                  <ion-text *ngIf="taskTitle?.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-input
              type="text"
              formControlName="title"
              value="{{ task?.title }}"
            ></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-textarea
              type="text"
              formControlName="details"
              rows="2"
              placeholder="Details"
              value="{{ task?.details }}"
            >
            </ion-textarea>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              formControlName="outcomes"
              placeholder="Outcomes"
              value="{{ task?.outcomes }}"
            ></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <!-- CHANGE TO HANDLE DATE -->
                  <ion-text *ngIf="taskEndDate.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <h2>Deadline</h2>
            <ion-datetime
              formControlName="endDate"
              max="{{ maxDate() }}"
              minute-values="0,15,30,45"
              size="cover"
              value="{{ task?.endDate }}"
            ></ion-datetime>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-select
                formControlName="projectId"
                okText="Add Task to New Project?"
                cancelText="Dont resign task to new Project"
                placeholder="Assigned to {{ task?.project?.title }}"
                class="select-full-width"
              >
                <ion-select-option
                  *ngFor="let project of projects"
                  [value]="project?.id"
                  >{{ project?.title }} Deadline: {{ project?.endDate }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-item
            ><ion-label>Mark As Completed?</ion-label>
            <ion-checkbox
              formControlName="isCompleted"
              class="form-control"
              slot="end"
              checked="{{ this.task?.isCompleted }}"
            ></ion-checkbox
          ></ion-item>
          <ion-button [disabled]="myForm.invalid" type="submit" expand="block"
            >Update Task</ion-button
          >
        </ion-item-group>
      </ion-col></ion-row
    >
  </form>
</ion-content>
