<ion-list>
  <ion-card *ngFor="let task of tasks">
    <ion-item
      [color]="task.isCompleted ? '' : 'secondary'"
      routerLink="details/{{ task?.id }}"
      class="ion-activated"
    >
      <ion-card-header>
        <ion-card-subtitle
          ><ion-text class="text-dark">{{ task?.project?.title }}</ion-text>
        </ion-card-subtitle>
        <ion-card-title
          ><ion-text class="text-dark">{{
            task?.title?.toUpperCase()
          }}</ion-text></ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-text class="text-dark">{{ task?.details }}</ion-text>
      </ion-card-content>
    </ion-item>
    <ion-row>
      <ion-col center text-center>
        <ion-icon name="alert-outline"></ion-icon>
        <div>{{ task?.outcomes }}</div>
      </ion-col>
      <ion-col>
        <ion-icon name="time"></ion-icon>
        <div>Created: {{ formatDate(task?.createdDate) }}</div>
      </ion-col>
      <ion-col center text-center>
        <ion-icon name="alarm-outline"></ion-icon>
        <div>
          <div>Deadline: {{ formatDate(task?.endDate) }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>
