<ion-header>
  <ion-toolbar>
    <ion-title>New Task</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        text="Tasks"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="saveTask()" method="post">
    <ion-row
      ><ion-col>
        <ion-item-group>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text><h1>Title</h1></ion-text>
                  <ion-text *ngIf="taskTitle.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-textarea
              type="text"
              formControlName="details"
              rows="2"
              placeholder="Details"
            ></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-input
              type="text"
              formControlName="outcomes"
              placeholder="Outcomes"
            ></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text *ngIf="taskEndDate.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <h2>Deadline</h2>
            <ion-datetime
              formControlName="endDate"
              max="{{ maxDate() }}"
              minute-values="0,15,30,45"
              size="cover"
            ></ion-datetime>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-select
                formControlName="projectId"
                okText="Add Task to Project"
                cancelText="Cancel"
                #projectSelect
                placeholder="Assign To Project?"
                class="select-full-width"
              >
                <ion-select-option
                  *ngFor="let project of projects"
                  [value]="project?.id"
                  >{{ project?.title }} Deadline: {{ project?.endDate }}
                </ion-select-option>
              </ion-select>
              <ion-button (click)="resetProject()"> clear </ion-button>
            </ion-item>
          </ion-list>
          <ion-button [disabled]="myForm.invalid" type="submit" expand="block"
            >Add Task</ion-button
          >
        </ion-item-group>
      </ion-col></ion-row
    >
  </form>
</ion-content>
<ion-footer> </ion-footer>
