<ion-header>
  <ion-toolbar>
    <ion-title>New Project</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        text="Projects"
        icon="chevron-back-outline"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="saveProject()" method="post">
    <ion-row
      ><ion-col>
        <ion-item-group>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text><h1>Title</h1></ion-text>
                  <ion-text *ngIf="projectTitle.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-input type="text" formControlName="title"></ion-input>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-textarea
              type="text"
              formControlName="details"
              rows="2"
              placeholder="Details"
            ></ion-textarea>
          </ion-item>
          <ion-item-divider></ion-item-divider>
          <ion-item>
            <ion-label position="stacked">
              <ion-row>
                <ion-col>
                  <ion-text *ngIf="projectEndDate.invalid" color="danger"
                    ><h2>Required</h2></ion-text
                  >
                </ion-col>
              </ion-row>
            </ion-label>
            <ion-datetime
              type="date"
              formControlName="endDate"
              placeholder="Project Deadline"
              min="{{ todaysDate() }}"
              max="{{ maxDate() }}"
              displayFormat="D / M / YY"
            ></ion-datetime>
          </ion-item>
          <ion-list>
            <ion-item>
              <ion-select
                formControlName="tasksId"
                okText="Add Task to Project"
                cancelText="Cancel"
                #tasksSelect
                placeholder="Add Tasks?"
                multiple="true"
                class="select-full-width"
              >
                <ion-select-option *ngFor="let task of tasks" [value]="task?.id"
                  >{{ task?.title }} Deadline: {{ task?.endDate }}
                </ion-select-option>
              </ion-select>
              <ion-button
                [disabled]="!myForm.controls['tasksId'].value"
                (click)="resetTasks()"
              >
                clear
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-button [disabled]="myForm.invalid" type="submit" expand="block"
            >Add Project</ion-button
          >
        </ion-item-group>
      </ion-col></ion-row
    >
  </form>
</ion-content>
