<ion-list>
  <ion-card *ngFor="let project of projects">
    <ion-item
      color="secondary"
      routerLink="details/{{ project?.id }}"
      class="ion-activated"
    >
      <ion-card-header>
        <ion-card-title
          ><ion-text class="text-dark">{{
            project?.title?.toUpperCase()
          }}</ion-text></ion-card-title
        >
      </ion-card-header>
      <ion-card-content slot="end">
        <ion-text class="text-dark">{{ project?.details }}</ion-text>
      </ion-card-content>
    </ion-item>
    <ion-row>
      <ion-item
        *ngFor="let task of project?.tasks"
        routerLink="/tabs/tasks/details/{{ task.id }}"
        class="ion-activated"
      >
        <ion-icon size="small" name="pencil-outline" slot="start"></ion-icon>
        <ion-label>
          <ion-col
            ><ion-row> {{ task.title }}</ion-row> Deadline: {{ task.endDate }}
          </ion-col>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="time"></ion-icon>
        <div>Created: {{ project?.createdDate }}</div>
      </ion-col>
      <ion-col center text-center>
        <ion-icon name="alarm-outline"></ion-icon>
        <div>
          <div>Deadline: {{ project?.endDate }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-list>
