<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-text>
        <h1>2BeDone</h1>
        <h4>Is a progressive web app for tracking projects & tasks</h4>
        <h4>It was developed as a learning exercise for Ionic & Angular</h4>
        <ion-button (click)="next()" color="success">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text>
        <h1>Home Tab</h1>
        <h4>
          Allows you view upcoming tasks and projects from a month or week view
        </h4>
        <h4>
          Selecting one of the items will provide quick details & allow you to
          navigate directly to it
        </h4>

        <h4>
          Whichever tab you are on you click the + icon and create a new item
        </h4>
        <ion-button (click)="next()" color="success">Next</ion-button>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <ion-text>
        <h1>Projects & Tasks Tabs</h1>
        <h4>Lists all their respective up coming items.</h4>
        <h4>
          Each has a side bar where you can filter through completed and un
          completed items, or search for a particular item.
        </h4>
        <h4>Clicking on one allows you edit it's details.</h4>
        <ion-button (click)="start()" color="success">Start</ion-button>
      </ion-text>
    </ion-slide>
  </ion-slides>
</ion-content>
